#logo_wrapper{
  width: 100%;
  height: 300px;
}
body{
  margin: 35 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
  font-family: roboto;
}
#logo_title{

  font-family: roboto;
}

.seperator{
  background-color: black;
  height: 1px;
  width: 100%;
  opacity: 0.2;
  margin-bottom: 20px;
}

.attribute{
margin-top: 5px;
margin-bottom: 5px;

}


.attributeValue{
  margin-top: 5px;
  margin-bottom: 5px;
}

.anotherPic{
  text-decoration: none;
  color: 9a91ff;
}



.anotherPic:hover{
  text-decoration: underline;
  color: 9a91ff;
}
